---
layout: default
title: "Home"
---

<section class="section section--about container">
    <h1 class="section--title title--primary">About</h1>
    <p class="about--description text">
        {% assign currentYear = site.time | date: '%Y' %} {% assign
        experienceYears = currentYear | minus: 2017 %} I am a Software Engineer
        based on Colombo, Sri Lanka with over {{ experienceYears }} years of
        experience in the industry. I am currently working as an Associate
        Technical Lead at
        <a href="https://www.wso2.com/" target="_blank" rel="noopener noreferrer" class="text-link">WSO2</a>. I am part
        of the
        <a href="https://ballerina.io" target="_blank" rel="noopener noreferrer" class="text-link">Ballerina</a>
        team where I am leading a development team responsible for developing
        and maintaining a set of
        <a href="https://github.com/ballerina-platform/ballerina-standard-library" target="_blank"
            rel="noopener noreferrer" class="text-link">Ballerina Standard Library</a>
        packages.
    </p>
    <p class="text">
        My main focus area is
        <a href="https://graphql.org" target="_blank" rel="noopener noreferrer" class="text-link">GraphQL</a>, where I
        have designed and developed the
        <a href="https://github.com/ballerina-platform/module-ballerina-graphql" target="_blank"
            rel="noopener noreferrer" class="text-link">Ballerina GraphQL package</a>. In addition, my team is also
        responsible for Auth, OAuth2, SerDes,
        NATS, and RabbitMQ packages.
    </p>
</section>

<section class="section section--experience container">
    <h1 class="section--title title--primary">Experience</h1>
    <div class="experience--items">
        {% for item in site.data.experiences %}
            {% include experience.html experience=item %}
        {% endfor %}
    </div>
</section>

<section class="section section--awards container">
    <h1 class="section--title title--primary">Awards and Trophies</h1>
    <div class="awards--items grid grid--col-3">
        {% for item in site.data.awards %}
            {% include award.html award=item %}
        {% endfor %}
    </div>
</section>
