<section class="experience">
    <header class="experience--header">
        <h2 class="experience--title">{{ include.experience.position }}</h2>
        <div class="experience--subheading">
            <div class="experience--company">
                <img src="{{ include.experience.logo}}" alt="{{ include.experience.company }} Logo" class="experience--company-logo">
                <h3 class="experience--company-name">{{ include.experience.company }} | {{ include.experience.team }}</h3>
            </div>
            <p class="experience--time-period">{{ include.experience.start }} &mdash; {{ include.experience.end }}</p>
        </div>
    </header>
    <main class="experience--content">
        <p class="experience--description">{{ include.experience.description }}</p>
        <p class="experience--technologies"><span class="experience--technologies-title">Technologies:</span> {{ include.experience.technologies }}</p>
    </main>
</section>
