<section class="section section--experience container">
    <h1 class="section--title title--primary">Experience</h1>
    <div class="experience--items">
        {% for experience in site.data.experiences %}
        <article class="experience">
            <header class="experience--header">
                <h2 class="experience--title">{{ experience.position }}</h2>
                <div class="experience--subheading">
                    <div class="experience--company">
                        <img src="{{ experience.logo}}" alt="{{ experience.company }} Logo"
                            class="experience--company-logo">
                        <h3 class="experience--company-name">{{ experience.company }} | {{
                            experience.team }}</h3>
                    </div>
                    <p class="experience--time-period">{{ experience.start }} &mdash; {{ experience.end }}</p>
                </div>
            </header>
            <main class="experience--content">
                <p class="experience--description">{{ experience.description }}</p>
                <p class="experience--technologies">
                    <span class="experience--technologies-title">Technologies:</span>
                    {{ experience.technologies }}
                </p>
            </main>
        </article>
        {% endfor %}
    </div>
</section>
