<footer class="footer">
    <div class="footer--section container">
        <ul class="footer--social-media-items">
            {% for item in site.data.social-media %}
            <li class="footer--social-media-item">
                <a href="{{ item.url }}" class="footer--social-media-link smooth-transition" target="_blank">
                    <ion-icon name="{{ item.icon }}"></ion-icon>
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <p class="copyright-text">Developed By Thisaru Guruge &mdash; {{ site.time | date: "%Y" }}</p>
    </div>
</footer>
