.contact--content {
    display: flex;
    gap: 6.4rem;
    align-items: center;
}

.cv-profile-image {
    width: 12.8rem;
}

.contact--information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.contact--email {
    letter-spacing: 0.4rem;
}

.contact--social-media-icons {
    display: flex;
    gap: 1.8rem;
}

.contact--icon {
    font-size: 3.2rem;
}
