.footer {
    padding: 9.6rem 0;
    border-top: 1px solid var(--color-secondary);
}

.footer--social-media-items {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    justify-content: center;
}

.footer--social-media-item {
    display: flex;
    gap: 1rem;
}

.footer--social-media-link {
    font-size: 1.8rem;
}

.footer--social-media-link:link,
.footer--social-media-link:visited {
    text-decoration: none;
    color: var(--color-secondary);
}

.footer--social-media-link:hover,
.footer--social-media-link:active {
    color: var(--color-green);
}

.copyright-text {
    margin-top: 8.4rem;

    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
}
