:root {
    --color-black: #000;
    --color-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Fix font size using user's browser setting */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1;

    /* Only works when there's nothing positioned absolute in relation to body */
    overflow-x: hidden;

    -webkit-user-select: none;
    user-select: none;

    font-size: 2rem;

    background-color: var(--color-primary);
    color: var(--color-secondary);
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.container {
    max-width: 120rem;
    justify-content: center;

    margin: 0 auto;

    padding: 2.4rem;
}

.section {
    margin: 0 0 3.2rem 0;
}

.smooth-transition {
    transition: all 0.3s;
}

/* Headings */

h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2.4rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
}

h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.title--primary {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--color-green);
    margin-bottom: 4.8rem;
}

/* Font Weights */
.wight--bold {
    font-weight: 700;
}

.weight--semi-bold {
    font-weight: 600;
}

.weight--normal {
    font-weight: 500;
}

.weight--light {
    font-weight: 400;
}

/* Text */
.text--center {
    text-align: center;
}


/* Grids */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
}

.grid--col-2 {
    // Max container width: 120rem
    // 120 / 3 = 40 rem < Min col width < 120rem / 2 = 60rem
    --min-col-size: 50rem;
}

.grid--col-3 {
    // Max container width: 120rem
    // 120 / 4 = 30 rem < Min col width < 120rem / 3 = 40rem
    --min-col-size: 35rem;
}

.grid--col-4 {
    // Max container width: 120rem
    // 120 / 5 = 24 rem < Min col width < 120rem / 4 = 30rem
    --min-col-size: 25rem;
}

/* Buttons */

.btn {
    padding: 1.4rem 1.4rem;
    border-radius: 0.4rem;

    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    transition: all 0.3s;
}

.btn--primary {
    color: var(--color-white);
    background-color: var(--color-green);
}

.btn--primary:link,
.btn:visited {
    text-decoration: none;
}

.btn:hover,
.btn:active {
    background-color: var(--color-green-light);
}
