.profile-image {
  width: 12.8rem;
  height: 12.8rem;

  float: left;
  margin-right: 3.2rem;
}

.text {
  line-height: 1.6;
  letter-spacing: 0.2rem;
  color: var(--color-secondary);

  &:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}

.text-link {
  text-decoration: none;
  cursor: pointer;
}

.text-link:link,
.text-link:visited {
  color: var(--color-link);
}

.text-link:hover,
.text-link:active {
  color: var(--color-green);
  font-weight: 600;

  transition: all 0.3s;
}

.text--highlight {
  color: var(--color-green);
  font-weight: 600;
}

.work--sections {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

