.text {
  line-height: 1.6;
  letter-spacing: 0.2rem;

  &:not(:last-child) {
    margin-bottom: 1.8rem;
  }

  text-justify: auto;
}

.text-link {
  text-decoration: none;
  cursor: pointer;
}

.text-link:link,
.text-link:visited {
  color: var(--color-link);
}

.text-link:hover,
.text-link:active {
  color: var(--color-green);
  font-weight: 600;
}

