@media screen and (prefers-color-scheme: dark) {
    :root {
        --color-primary: #000;
        --color-secondary: #fff;
        --color-link: #787474;
        --color-green: #008f11;
        --color-green-light: #18e13a;
        --color-yellow: #f5f506;
    }
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --color-primary: #fff;
        --color-secondary: #000;
        --color-link: #8e908e;
        --color-green: #2cc82c;
        --color-green-light: #23ec45;
        --color-yellow: #f5f506;
    }
}

@media screen and (max-width: 63em) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 54em) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 49em) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 43em) {
    html {
        font-size: 40%;
    }

    /* Mobile Navigation */
    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        background-color: var(--color-primary);

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.5s ease-in;

        /* Hide Navigation */
        /* 1. Hide the element */
        opacity: 0;

        /* 2. Make it unaccessible for mouse and keyboard */
        pointer-events: none;

        /* 3. Hide from screen readers */
        visibility: hidden;
        z-index: 100;
    }

    .icon-mobile-nav {
        font-size: 4.8rem;
    }

    .icon-mobile-nav-close {
        display: none;
    }

    .nav-open .btn-mobile-nav .icon-mobile-nav-close {
        display: block;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .btn-mobile-nav .icon-mobile-nav-menu {
        display: none;
    }

    .main-nav--list {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }
    /* End Mobile Navigation */
}
