<section class="section section--about container">
    <h1 class="section--title title--primary">About</h1>
    <div class="profile-image">
        <img src="/assets/images/profile-pics/profile.webp" alt="Thisaru Guruge's Profile Image" class="profile-image">
    </div>
    <p class="text">
        I am a Computer Software Engineer by profession, currently working as an Associate Technical Lead at WSO2, Sri
        Lanka. As a member of the Ballerina team that developes the Ballerina programming language.
        <a href="/cv" class="text-link">Here's my CV</a>.
    </p>
    <p class="text">
        I love music. I play the guitar and sing. I also write and compose songs. I listen to a wide range of music, and
        I listen music a lot. I also enjoy watching movies and TV shows, especially sci-fi and crime, and comedy. I am a
        big fan of Breaking Bad, Better Call Saul, The Big Bang Theory, and The Trailer Park Boys. I also love
        Inception, Interstellar, The Schindler's List, and the Matrix trilogy.
    </p>
    <p class="text">
        I am a wildlife conservationist and I do conservation-related work in my leisure time. I am also into wildlife
        photography, mainly focused on insects and reptiles. I do enjoy traveling and exploring new places. I'd love
        staring at the night sky in a non-polluted area and talk about the universe.
    </p>
    <p class="text">
        I enjoy long talks about arts, philosophy, science, politics, and almost everything. I do enjoy small talk but I
        love deep conversations.
    </p>
</section>
