<section class="section section--awards container">
    <h1 class="section--title title--primary">Awards and Trophies</h1>
    <div class="awards--items grid grid--col-3">
        {% for award in site.data.awards %}
        <article class="award">
            <header class="awards--header">
                <h3 class="award--title weight--bold text--center">{{ award.title }}</h3>
                <h6 class="weight--normal text--center">{{ award.issuer }}</h6>
            </header>
            <div class="awards--content">
                <ion-icon name="trophy-outline" class="award--icon"></ion-icon>
                <p class="award--date">{{ award.date }}</p>
                <p class="award--description">{{ award.description }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
