<section class="section section--awards container">
    <h1 class="section--title title--primary">Awards and Trophies</h1>
    <div class="awards--items grid grid--col-3">
        {% for award in site.data.awards %}
        <article class="award">
            <header class="awards--header">
                <h4 class="awards--title">{{ award.title }}</h4>
                <h6 class="awards--date">{{ award.issuer }}</h6>
            </header>
            <div class="awards--content">
                <p class="ph ph-medal"></p>
                <p class="award--date">{{ award.date }}</p>
                <p class="award--description">{{ award.description }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
