.gallery--heading {
    margin: 4.8rem 0 3.2rem;
}

.gallery--images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    margin-top: 3.2rem;
}

.gallery--image-container {
    flex-basis: 32rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    overflow: hidden;
}

.gallery--image-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

    border-radius: 5px;

    transition: all 0.3s;

    position: relative;
}

.gallery--image-img:hover {
    transform: scale(1.2);
}

.gallery--image-caption {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}
