.volunteer--projects {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.volunteer--project--header {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-items: center;

    margin-bottom: 2.4rem;
}

.volunteer--project--image {
    width: 7.2rem;
    background-color: var(--color-white);
}

.volunteer--position {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
